[submodule "source/.vim/bundle/matchtag"]
	path = source/.vim/bundle/matchtag
	url = https://github.com/gregsexton/MatchTag.git
[submodule "source/.vim/bundle/nerdtree"]
	path = source/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "source/.vim/bundle/supertab"]
	path = source/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "source/.vim/bundle/vim-indent-object"]
	path = source/.vim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "source/.vim/bundle/editorconfig-vim"]
	path = source/.vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "source/.vim/bundle/vim-airline"]
	path = source/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "source/.vim/bundle/vim-airline-themes"]
	path = source/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "source/.vim/bundle/vim-commentary"]
	path = source/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "source/.vim/bundle/vim-go"]
	path = source/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule "source/.vim/bundle/vim-javascript"]
	path = source/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
